:root {
    /** Main variables */
    --main-bg-color: #131314;
    --main-copy-font: 'Arial', sans-serif;
    --main-copy-color: #9F9F9F;
    --main-heading-font: 'BigNoodleTitling', 'Arial', sans-serif;
    --main-heading-color: #FFF;


    /** Hero variables */
    --hero-reinhardt-color: #FDC816;
    --hero-reinhardt-icon: '../images/heroes/reinhardt-icon.png';
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: url('../images/bg.jpg') center 0 no-repeat;
    background-color: var(--main-bg-color);
    color: var(--main-copy-color);
    font-family: var(--main-copy-font);
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.timeline {
    position: relative;
    width: 100vw;
}

.timeline__minimap {
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    height: 4px;
    border-radius: 2px;
    background-color: #2F2F32;
}
.timeline__minimap__indicator {
    position: absolute;
    left: 0;
    top: -3px;
    width: 2px;
    height: 10px;
    background-color: #A2A2A2;
    will-change: transform;
    z-index: 2;
}
.timeline__minimap__marker {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #6F6F6F;
}

.timeline__container::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2F2F32;
}

.timeline__indicator {
    position: absolute;
    top: -15px;
    left: calc(35% - 3px);
    display: block;
    background: url('../images/timeline-indicator.png') 0 0 no-repeat;
    width: 6px;
    height: 4px;
    will-change: tranform;
    transition: transform 0.3s cubic-bezier(0,0,0.3,1);
}

.timeline__indicator--onMark {
    transform: translateY(-3px);
}

.timeline__container {
    position: absolute;
    top: 0;
    left: 35%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 1850px;
    will-change: transform;
}


.timeline__marker {
    position: relative;
    margin: 0 4em;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid #7A8289;
    background-color: #131314;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.3s cubic-bezier(0,0,0.3,1);
    cursor: pointer;
}

.timeline__marker:hover {
    border-color: #a2a2a2;
}

.timeline__marker::after {
    content: '';
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #fff;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.timeline__marker--hit {
    transform: scale(1.8);
}
.timeline__marker--hit::after {
    opacity: 1;
}
